<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>글 내용</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function deletePost(boardId) {
		$.ajaxSetup({
		    headers: {
		        'X-CSRF-TOKEN': $('input[name="_csrf"]').val() // CSRF 토큰
		    }
		});
		if (confirm('게시글을 정말 삭제하시겠습니까?')) {
			$.ajax({
				url: '/board/delete/' + boardId,
				type: 'DELETE',
				success: function(response) {
					alert('게시글이 삭제되었습니다.');
					location.href = '/board/list';
				},
				error: function(xhr, status, error) {
					alert('삭제 실패: ' + xhr.responseText);
				}
			});
		}
	}
</script>
</head>
<body>
	<main>
		<section>
			<h1>글 제목</h1>
			<h2 th:text="${board.title}"></h2>
		</section>
		
		<section>
			<h1>글 내용</h1>
			<div th:text="|내용 : ${board.content}|"></div>
			<div th:if="${board.modifyDate != null}">
				<div>수정됨</div>
				<div th:text="${board.modifyDate}"></div>
			</div>
			<div th:if="${board.author != null}" th:text="|작성자 : ${board.author.username}|"></div>
			<div th:text="|작성일 : ${board.createDate}|"></div>
			<!-- 수정 -->
			<div>
				<a th:href="@{/board/update/{id}(id=${board.id})}" sec:authorize="isAuthenticated()"
				   th:if="${board.author != null and #authentication.getPrincipal().getUsername == board.author.username}">
				   수정
				</a>
			</div>
			<!-- 삭제 -->
			<div>
				<a href="javascript:void(0);" sec:authorize="isAuthenticated()"
				th:if="${board.author != null and #authentication.getPrincipal().getUsername == board.author.username}"
				th:text="'삭제'"
				th:onclick="'deletePost(' + ${board.id} + ');'"></a>
			</div>
		</section>
		
		<section>
			<h1>댓글</h1>
			<h3 th:text="|${#lists.size(board.commentList)}개의 댓글이 있습니다.|"></h3>
			<!-- 댓글 반복 -->
			<div th:each="comment : ${board.commentList}">
				<div th:id="'comment_' + ${comment.id}"> <!-- 댓글 작성 후 이동시킬 영역 -->
					<div th:text="${comment.content}"></div> <!-- 댓글 내용 -->
					<div th:if="${comment.modifyDate != null}"> <!-- 수정 이력 -->
						<div>수정됨</div>
						<div th:text="${comment.modifyDate}"></div>
					</div>
					<div>
						<!-- 댓글 작성자가 있다면 이름 출력 -->
						<span th:if="${comment.author != null}" th:text="|작성자 : ${comment.author.username}|"></span>
					</div>
					<div th:text="${comment.createDate}"></div> <!-- 작성 일자 -->
				</div>
			</div>
			
			<!-- 댓글 등록 -->
			<form th:action="@{|/comment/create/${board.id}|}" th:object="${addReqDTO}" method="post">
				<div th:replace="~{/fragments/errorMessages :: errorFragment}"></div>
				<label for="content">댓글 : </label>
				<textarea th:field="*{content}" id="content" rows="10" cols="40" style="resize: none;"></textarea>
				<button type="submit">댓글 등록</button>
			</form>
		</section>
	</main>
</body>
</html>