<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
</head>
<body>
	<main>
		<form th:action="@{/user/findPw}" th:object="${findReq}" method="post">
			<div th:replace="~{/fragments/errorMessages :: errorFragment}"></div>
			<table>
				<tr>
					<td><label for="id">아이디 확인 : </label></td>
					<td>
						<input type="text" th:field="*{username}" id="id" required	/>
					</td>
				</tr>
				<tr>
					<td><label for="email">이메일 확인 : </label></td>
					<td>
						<input type="text" th:field="*{email}" id="email" required	/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="확인"	/>
					</td>
				</tr>
			</table>
		</form>
	</main>
	<input th:if="${result}" type="hidden" id="result" th:value="${result}">
	<script>
		let result;
		result = document.getElementById('result').value;
		if (result) {
			alert('아이디 또는 이메일을 확인해주세요.');
		}
	</script>
</body>
</html>