<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<main>
		<form th:action="@{/user/signup}" th:object="${signupReq}" method="post">
<!--             <div th:replace="~{form_errors :: formErrorsFragment}"></div> -->
            <section>
                <h2>사용자 정보</h2>
                <table>
                    <tr>
                        <td>
                            <div><label for="username">아이디 : </label></div>
                        </td>
                        <td>
                            <input type="text" th:field="*{username}" id="username" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><label for="password1">비밀번호 : </label></div>
                        </td>
                        <td>
                            <input type="password" th:field="*{password1}" id="password1" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><label for="password2">비밀번호 확인 : </label></div>
                        </td>
                        <td>
                            <input type="password" th:field="*{password2}" id="password2" />
                        </td>
                    </tr>
                </table>
            </section>

            <section>
                <h2>연락처 정보</h2>
                <table>
                    <tr>
                        <td>
                            <div><label for="email">이메일 : </label></div>
                        </td>
                        <td>
                            <input type="email" th:field="*{email}" id="email" />
                        </td>
                    </tr>
                </table>
            </section>

            <section>
                <h2>기타 정보</h2>
                <table>
                    <tr>
                        <td><label for="gender">성별 : </label></td>
                        <td>
                            <label for="m">남자</label><input type="radio" th:field="*{gender}" value="남자" id="m" />
                            <label for="w">여자</label><input type="radio" th:field="*{gender}" value="여자" id="w" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><label for="country">국가 : </label></div>
                        </td>
                        <td>
                            <select th:field="*{country}" id="country">
                                <option value="대한민국">대한민국</option>
                                <option value="일본">일본</option>
                                <option value="중국">중국</option>
                                <option value="북한">북한</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>취미 : </div>
                        </td>
                        <td>
                            <label for="hobby1">공부</label><input type="checkbox" th:field="*{hobbies}" value="study" id="hobby1" />
                            <label for="hobby2">운동</label><input type="checkbox" th:field="*{hobbies}" value="sports" id="hobby2" />
                            <label for="hobby3">영화</label><input type="checkbox" th:field="*{hobbies}" value="movie" id="hobby3" />
                            <label for="hobby4">음악</label><input type="checkbox" th:field="*{hobbies}" value="music" id="hobby4" />
                        </td>
                    </tr>
                </table>
            </section>

            <button type="submit">가입하기</button>
        </form>
	</main>
</body>
</html>